RESEND_API_KEY_COM=re_replace_with_a_com_domain_resend_api_key
RESEND_API_KEY_CZ=re_replace_with_a_cz_domain_resend_api_key
CONTACT_FROM_EMAIL_COM=Light of Birth <contact@lightofbirth.com>
CONTACT_FROM_EMAIL_CZ=Light of Birth <kontakt@lightofbirth.cz>
CONTACT_TO_EMAIL=eeislerova@gmail.com
